:root {
    --screen-width: 1440px;
    --background-color: #000;
    --text-color: #fff;
    --border-color: rgba(255, 255, 255, .5);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*img, picture, video, canvas, svg {*/
/*    display: block;*/
/*    max-width: 100%;*/
/*}*/

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 64px;
}


h2 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 51px;
    font-weight: 700;
}

h3 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: var(--screen-width);
    background-color: var(--background-color);
    color: var(--text-color);
}

.top-background {
    background-image: url("./images/top-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 450px -100px;
    overflow: hidden;
    position: absolute;
    width: var(--screen-width);
    height: 828px;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 100px;
}

.login {
    display: flex;
    align-items: center;
    margin-left: 112px;
}

.login span {
    margin-left: 14px;
}

.login-button {
    color: var(--text-color);
    text-decoration-color: #fff;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.info-text {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-info {
    display: flex;
    flex-direction: column;
}

.hero-info-caption h1 {
    margin-left: 105px;
    margin-top: 140px;
    line-height: 1.1;
}

.hero-info-note {
    display: flex;
}

.hero-info-note-text {
    position: absolute;
    display: flex;
    margin-left: 105px;
}

.hero-info-text p {
    margin-left: 32px;
    margin-top: 138px;
    max-width: 370px;
    font-size: 20px;
}

.hero-info .line {
    margin-top: 100px;
}

.background-circle {
    position: relative;
    width: 125px;
    height: 125px;
    margin-top: 90px;
    margin-left: 85px;
    background: rgba(96, 92, 234, 1);
    filter: blur(100px);
}

.hero-app img {
    position: relative;
    margin-top: -133px;
}

.download-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-text {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-left: 105px;
}

.app-badges {
    width: 520px;
}

.google-play {
    margin-left: 30px;
}

.mission-vision-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}

.contact-us-container {
    display: flex;

}

.border {
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 21px;
    width: 503px;
    height: 312px;
}

.contact-us {
    padding: 60px 70px;
    display: block;
    margin-right: 40px;
}

.contact-us div {
    margin-top: 30px;
}

.already-partner {
    padding: 100px 70px;
    margin-left: 40px;
}

.already-partner div {
    margin-top: 30px;
}

.mail {
    color: var(--text-color);
    text-decoration-color: #fff;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}

.rotated-phone {
    background-image: url("./images/phone-rotated.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -90px -100px;
    width: 800px;
    height: 1000px;
}

.our-mission-container {
    height: 900px;
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}

.our-mission-info {
    padding: 150px 90px;
    background-image: url("./images/bg_slide2.png");
    background-repeat: no-repeat;
    background-size: 285px 285px;
    background-position: 200px 70px;

}

.our-mission-info h2 {
    line-height: 1.4;
    max-width: 400px;
}

.our-mission-info p {
    margin-top: 20px;
    max-width: 300px;
    line-height: 1.5;
}

.id-scanner-background {
    display: flex;
    object-fit: cover;
    background-position: center -20px;
    background-image: url("./images/bg_slide3.png");
    background-repeat: no-repeat;
    width: var(--screen-width);
    height: 1160px;
    margin-top: 100px;
}

.verification-id-1 {
    background-image: url("./images/slide3-phone1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 332px;
    height: 667px;
    margin-top: 450px;
    margin-left: 100px
}

.verification-id-2 {
    background-image: url("./images/slide3-phone2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 332px;
    height: 667px;
    margin-top: 450px;
    margin-left: 50px
}

.id-scanner-info {
    margin-top: 795px;
    margin-left: 110px;
}

.id-scanner-info p {
    max-width: 315px;
    margin-top: 20px;
}

.tool-integration {
    display: flex;
    width: 100%;
    height: 600px;
}

.tool-integration h2 {
    margin-top: 210px;
    margin-left: 110px;
    min-width: 500px;
}

.tool-integration-info {
    flex: 1;
}

.tool-integration-info p {
    margin-top: 20px;
    margin-left: 110px;
    max-width: 395px;
}

.tool-integration-tools {
    flex: 2;
    background:
            url("./images/slide4-graph-line.png") 400px 10px no-repeat,
            url("./images/slide4-graph-circles.png") 220px 190px no-repeat,
            url("./images/slide4-graph-round.png") 530px 190px no-repeat,
            url("./images/slide4-graph-line-color.png") 90px 260px no-repeat,
            url("./images/slide4-graph-spline.png") 350px 300px no-repeat,
            url("./images/slide4-graph-columns.png") 270px 400px no-repeat,
            url("./images/slide4-graph-gauges.png") 500px 490px no-repeat;
}

.qr-code {
    display: flex;
    height: calc(1100px);
    background:
            url("./images/slide5-music.png") no-repeat,
            url("./images/slide5-glass.png") no-repeat;
    margin-top: 100px;
    overflow: visible;
    position: relative;
}

.qr-code-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 400px;
    padding-left: 150px;
    max-width: 570px;
}

.qr-code-container p {
    max-width: 315px;
    margin-top: 20px;
}

.qr-code-container .app-badges {
    margin-top: 50px;
}

.qr-code-apps {
    flex: 2;
    background:
            url("./images/slide5-phone1.png") 20px 170px no-repeat,
            url("./images/slide5-phone2.png") 470px 570px no-repeat;
    height: 1240px;
}

.generate-qr-code {
    background:
            url("./images/bg-slide6.png") 0 -240px no-repeat;
    height: 1100px;
    position: relative;
}

.generate-qr-code > .app-image {
    position: absolute;
    top: 215px;
    left: 560px;
}

.generate-qr-code > .app-arrow {
    position: absolute;
    padding-left: 50px;
    top: 405px;
    left: 900px;
}

.scan-qr-code-style {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.3;
}

.generate-qr-code > .scan-qr-code {
    position: absolute;
    top: 490px;
    left: 1025px;
}

.generate-qr-code h2 {
    max-width: 393px;
    position: absolute;
    top: 950px;
    left: 50px;
}

.generate-qr-code p {
    max-width: 292px;
    position: absolute;
    top: 970px;
    right: 60px;
}

.easy-ordering {
    width: 100%;
    height: 1350px;
    background:
            url("./images/slide7-phone.png") 280px 350px no-repeat,
            url("./images/bg-slide7.png") 980px 50px no-repeat;
    padding-top: 150px;
    position: relative;
}

.easy-ordering-info {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    padding-right: 100px;
}

.box-content-style {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.border-rect {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 18px;
    padding: 20px 20px;
    background-color: black;
}

.no-more1 {
    position: absolute;
    top: 540px;
    left: 770px;
    max-width: 285px;
}

.no-more2 {
    position: absolute;
    top: 708px;
    left: 255px;
    max-width: 285px;
}

.no-more-split {
    position: absolute;
    top: 988px;
    left: 974px;
    max-width: 185px;
}

.skip-the-line {
    position: absolute;
    top: 1078px;
    left: 492px;
    max-width: 285px;
}

.notab {
    background:
            url("./images/bg-slide8.png") no-repeat;
    height: 1000px;
    position: relative;
}

.notab::after {
    content: "";
    background: url("./images/slide8-phone.png") 100px 100px no-repeat;
    position: absolute;
    top: 280px;
    left: 190px;
    width: 960px;
    height: 535px;
}

.get-in-touch {
    height: 1100px;
    position: relative;
}

.get-in-touch .background-circle {
    background: url("./images/slide9-circle1.png") 0 0 250px 250px no-repeat;
    top: -70px;
    left: 250px;
    width: 250px;
    height: 250px;
    opacity: .4;
    position: absolute;
}

.get-in-touch-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.get-in-touch-info p {
    max-width: 580px;
    text-align: center;
    padding-top: 10px;
}

.get-in-touch form {
    margin: 60px auto 0;
    max-width: 819px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.form-field-text {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-field-style {
    height: 83px;
    border-radius: 10px;
    margin-top: 20px;
    border-style: unset;
}

.form-field-style::placeholder {
    color: #BFBFBF;
}

.form-field-style:required:invalid {
    border: 1px solid red;
}

.one-field {
    grid-column: 1 / 3;
}

.two-fields-left {
    grid-column: 1/ 2;
}

.two-fields-right {
    grid-column: 2/ 3;
}

.message {
    min-width: 818px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
    border-style: unset;
    padding: 20px;
}

.message::placeholder {
    color: #BFBFBF;
}

.message:required:invalid {
    border: 1px solid red;
}

.button {
    max-width: 400px;
    height: 80px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: var(--background-color);
    margin-top: 50px;
    margin-left: 205px;
}