:root {
    --slider-width: 800px;
    --slider-height: 200px;
    --buttons-width: 50px;
    --slider-container-width: calc(var(--slider-width) - var(--buttons-width) - var(--buttons-width));
    --slide-width: var(--slider-container-width);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.wrapper {
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    width: var(--slider-width);
    height: var(--slider-height);
    overflow: hidden;
    margin: 20px auto;
}

.track {
    clear: both;
    height: 100%;
    overflow: hidden;
    width: var(--slider-container-width);
}

.container {
    display: block;
    background-color: #6500ff;
    width: var(--slider-container-width);
    height: var(--slider-height);
    overflow: hidden;
    border-radius: 10px;
}

.prev,
.next {
    width: var(--buttons-width);
    height: var(--slider-height);
    flex: 1;
    border-style: unset;
    cursor: pointer;
    background-size: 30px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

.prev {
    background-image: url("./images/prev.svg");
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.next {
    background-image: url("./images/next.svg");
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slide {
    padding: 1.6rem;
    font-size:5rem;
    color: white;
    text-align: center;
    width: var(--slider-container-width);
    height: var(--slider-height);
    float: left;
}

.slide1 {
    background-color: #390091;
}

.slide2 {
    background-color: #7e008c;
}

.slide3 {
    background-color: #d5be00;
}

.slide4 {
    background-color: #b2cf00;
}

.slide5 {
    background-color: #883dfc;
}

.dots-line {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 100%;
}

.dots-line .dot {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    margin: 0 5px;
}

.dots-line .dot-active {
    background: #3f3f3f;
    cursor: default;
}